@import "_vars";

  * {
    font-family: lota-regular, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*:focus {
  outline:0!important;
}

html, body {
    margin: 0;
    padding: 0;
    color: $greyscale-2;

}

h1 {
    font-size: 48px;
    @include heading-font;

  }

h2 {
    font-size: 34px;
    @include heading-font;

  }

h3 {
    font-size: 26px;
    @include heading-font;

  }
  
  p {
    font-size: 18px;
    color: $greyscale-4;
    line-height: 135%;
  }

  ul li {
    font-size: 18px;
  }

  img {
    max-width: 100%;
  }