@import "_vars";

  * {
    font-family: lota-regular, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*:focus {
  outline:0!important;
}

html, body {
    margin: 0;
    padding: 0;
    color: $greyscale-2;

}

h1 {
    font-size: 46px;
    @include heading-font;

  }

h2 {
    font-size: 26px;
    @include heading-font;

  }
  
  p {
    font-size: 18px;
    color: $greyscale-5;
  }

  img {
    max-width: 100%;
  }