
.back_to_top {
    position: fixed;
    bottom: 80px;
    right: 40px;
    z-index: 9999;
    line-height: 30px;
    cursor: pointer;
    display: none;
  }

  .back_to_top-show {
    display: block;
  }
  
  .back_to_top {
    
    svg {
      path {
        fill: $greyscale-2;
        transition: fill 500ms;
      }
    }

   }
 
  .back_to_top:hover {
    svg {
      path {
        fill: $greyscale-2;
      }
    }
  }
  