@import "_vars";

 .dark-mode {
    background-color: $greyscale-2;
    color: #fff;
  }
  
  .dark-mode nav {
    background-color: $greyscale-2;
    color: #fff;
    ul li a {
      color: #ffffff;
      text-decoration: none;
    }

  }

 .dark-mode a.main-logo {
    text-decoration: none;
    color: #fff;
  }
  
  
  li.dark-mode-icon {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  li.dark-mode-icon:after {
    content: "lights off";
    text-decoration: none;
    color: inherit;
    padding: 6px;
  }
  
  li.dark-mode-icon a .fa-lightbulb path {
    fill: $greyscale-2;
  }
  
  .dark-mode li.dark-mode-icon a .fa-lightbulb path, .dark-mode .back_to_top .fa-arrow-alt-circle-up path {
    fill: #ffffff;
  }
  
  #body.dark-mode li.dark-mode-icon:after {
    content: "lights on";
  }

  #body.dark-mode .gallery-item--four {
    background-color: #ffffff;
    transition: all 500ms;
    .fa-codepen path {
      transition: all 500ms;
      fill: $greyscale-2;
    }
  }

  .dark-mode svg.fa-git-alt {
    path {
      fill: #ffffff;
    }
  }


  #body.dark-mode .footer-icons {
    .fa-github {
      path {
        fill: #ffffff;
      }
      
    }
    .fa-codepen {
      path {
        fill: #ffffff;
      }
    }
    .fa-envelope {
      path {
        fill: #ffffff;
      }
    }
  }