  @import "_vars";


  @media(max-width: 768px) {
    [class*="col-"] {
      float: none;
      margin: 0 auto;
      text-align: center;
  }

  ul {
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 0 20px;
}

footer.main-footer {
  ul {
    text-align: center;
  }
}
  }