  @import "_vars";


@media(max-width: 1200px) {

  .container.main-nav {
    padding: 0;
}
  .row {
    max-width: 800px;
}

.left-contact-icons {
  left: 10px;
}

.right-contact-email {
  right: 10px;
}

nav.main-nav .row .col-6 {
  padding: 0 0 0 10px;
}
}


@media(max-width: 960px) {

  .row {
    width: 90%;
    max-width: 90%;
  }

  nav.main-nav .row .col-6 {
    padding: 0 0 0 0;
  }

  .left-contact-icons {
    left: 0;
  }
  
  .right-contact-email {
    right: 0;
  }

  .home section {
    padding: 0;
}
  .container.main-nav {
    .row {
      width: 100%;
      .col-6 {
        width: 100%;
        text-align: center;
        ul {
          text-align: center;
          background-color: #fff;
          margin: 0;
          padding: 12px 0;
        }
      }
    }
    padding: 0;
}

nav.main-nav .row .col-6 .menu {
  justify-content: center;
}

.about-skills.row {
  margin: 0 auto;
}

  .home section.more .more-content p, .home section.more .more-content .geo-more {
    grid-column: 1/13;
  }

  .geo-more {
    width: 80%;
    margin: 0 auto;
  }
  .home-header .col-6 {
    display: none;
  }
  .home-header .header-text.col-6 {
    display: block;
    max-width: 620px;
  }

  [class*="col-"] {
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.geo-pattern {
  display: none;
}

.selected-work {
  margin: 150px auto auto auto;
    .item-1 {
      margin: 0 0 30px 0;
      display: block;

      p {
        padding: 16px;
        background-color: $greyscale-7;
      }
      h3 {
        margin: 0;
      }
      .block-2 {
        justify-content: space-around;
      }
    }

    .item-2 {
      display: block;

      p {
        padding: 16px;
        background-color: $greyscale-7;
      }
      h3 {
        margin: 0;
      }

      .block-2 {
        justify-content: space-around;
      }
    }

    a {
      width: auto;
      text-decoration: none;
      color: $greyscale-2;
      span {
        display: inline-block;
      }
    }
}

.home section.more {

  .more-content {
    display: block;

  }
}

.home section.more {
  padding: 100px 0 300px 0;
}

.main-footer .col-12 {
  float: left;
  width: 100%;
}
}

  @media(max-width: 768px) {

  ul {
    padding: 0;
  }

  .container {
    width: 100%;
    padding: 0 20px;
}


footer.main-footer {
  ul {
    text-align: center;
  }
}

}




  @media(max-width: 580px) {

.right-contact-email, .left-contact-icons {
  display: none;
}

h1 {
  font-size: 40px;

}

h2 {
  font-size: 30px;

}

h3 {
  font-size: 22px;

}

p {
  font-size: 16px;
  color: $greyscale-4;
  line-height: 140%;
}

ul li {
  font-size: 16px;
}

.home-about {
  .geo-about {
    margin: 0 auto 200px auto;
    height: 210px;
    width: 210px;
  }
}



.home section.more .more-content .geo-more {
  display: block;
  margin: auto;
  width: 280px;

}

.selected-work {
  width: 90%;
  max-width: 560px;
}

footer.mobile-footer {
  display: block;
  text-align: center;
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 0 8px;
    }
  }
}
footer.main-footer {
  display: none;
}

}
