@import "_vars";


#mobile-menu, .menu-icon {
    display: none;
  }
  
  #nav-toggle {
    display: none;
    transition: all 0.4s;
  }

  #nav-toggle.on .menu-bar-one {
    -webkit-transform: rotate(45deg) translate(3px, -4px);
    -ms-transform: rotate(45deg) translate(3px, -4px);
        transform: rotate(45deg) translate(3px, -4px);
        transition: all 0.4s;
  }

  #nav-toggle.on .menu-bar-two {
    visibility: 0;
    opacity: 0;
    transition: all 0.4s;
  }
  
  #nav-toggle.on .menu-bar-three {
    -webkit-transform: rotate(-45deg) translate(-12px, -5px);
    -ms-transform: rotate(-45deg) translate(-12px, -5px);
        transform: rotate(-45deg) translate(-12px, -5px);
        transition: all 0.4s;
  }

  .container.main-nav {
    background-color: #ffffff;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
    margin: 16px 0;
  }
  
  nav ul li {
    display: inline-block;
    padding: 5px;
    a {
      text-decoration: none;
      color: $greyscale-2;
    }
  }
  
  nav.main-nav {
    font-weight: 900;
    width: 100%;
    max-width: 100%;
    z-index: 11;
    position: fixed;
    .row {
      height: 100%;
      display: flex;
      align-items: center;
      .col-6 {
        height: 100%;
        .header-logo {
          display: block;
        }
      }
    } 

    }
  


  