
$greyscale-1: #403D58;
$greyscale-2: #403D58;
$greyscale-3: #3D3D3D;
$greyscale-4: #505050;
$greyscale-5: #858585;
$greyscale-6: #BCBCBC;
$greyscale-7: #F2EFEA;
$greyscale-8: #F2EFEA;


@mixin heading-font {
  line-height: 110%;
  text-indent: -0.03em;
  font-weight: 700;
}

@mixin flex-vc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-ccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-rc {
  display: flex;
  flex-direction: row;
  align-items: center;
}


@mixin work-item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
