
$greyscale-1: #000000;
$greyscale-2: #222222;
$greyscale-3: #3D3D3D;
$greyscale-4: #505050;
$greyscale-5: #858585;
$greyscale-6: #BCBCBC;
$greyscale-7: #EAEAEA;
$greyscale-8: #EEEEEE;


@mixin heading-font {
  line-height: 110%;
  text-indent: -0.03em;
  font-weight: 700;
}

@mixin flex-vc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-ccc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-rc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin container {
  width: 84%;
  max-width: 960px;
  margin: 0 auto;
}

@mixin grid-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
